body {
background-color: #191C19;
    text-align: center;
    
    
    
}
 

.container {
 
}
.parchment {
     margin: auto;
  width: 80%;
    height:900px;
    background-image: url(images/containerP.png); 
    background-repeat: no-repeat;
background-size:contain;
    background-position: center top;
     padding:20px;
}

.parchment p {
    
    font-size: 24px;
    font-family: 'Jim Nightshade', cursive;
    
 
    
}


h1 {
font-family: 'UnifrakturMaguntia', cursive;
color:whitesmoke; 
 font-size: 62px;
}