@mixin anim-filter($filter, $value) {
    -webkit-filter: #{$filter}unquote("(#{$value})");
      -moz-filter: #{$filter}unquote("(#{$value})");
      -ms-filter: #{$filter}unquote("(#{$value})");
      filter: #{$filter}unquote("(#{$value})"); 
}
@mixin anim-transition($property, $value) {
  -webkit-transition: $property, $value;
      -moz-transition: $property, $value;
      -ms-transition: $property, $value;
      transition: $property, $value;
}
@mixin anim-transform($property, $value) {
    -webkit-transform:  #{$property}unquote("(#{$value})");
      -moz-transform: #{$property}unquote("(#{$value})");
      -ms-transform: #{$property}unquote("(#{$value})");
      transform: #{$property}unquote("(#{$value})"); 
}


body {
background-color: #191C19;
    text-align: center;
    
    
    
}
 





.parchment {
     margin: auto;
  width: 80%;
    
    height:1100px;
    background-image: url(images/containerP.png); 
    background-repeat: no-repeat;
background-size:contain;
    background-position: center top;
     padding:30px;
}

.parchment p {
    
    font-size: 24px;
    font-family: 'Jim Nightshade', cursive;
    
    
 
    
}


h1 {
font-family: 'UnifrakturMaguntia', cursive;
color:whitesmoke; 
 font-size: 62px;
}

.text-anim {
  
font-size: 24px;
    font-family: 'Jim Nightshade', cursive;
  font-weight: 400;
}


/* ==========================================================================
	 Editor ========================================================================== */


#editor { 
    height:500px;
    max-width:700px;
    margin:auto;
    

    
    }

#word {
    display: none;
}


/* ==========================================================================
	 Main Animation	 ========================================================================== */
.text-anim span {
  opacity: 0;
  transition: all, 550ms;
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.text-anim span:nth-child(22) {
  transition-delay: 770ms;
}
.text-anim span:nth-child(21) {
  transition-delay: 735ms;
}
.text-anim span:nth-child(20) {
  transition-delay: 700ms;
}
.text-anim span:nth-child(19) {
  transition-delay: 665ms;
}
.text-anim span:nth-child(18) {
  transition-delay: 630ms;
}
.text-anim span:nth-child(17) {
  transition-delay: 595ms;
}
.text-anim span:nth-child(16) {
  transition-delay: 560ms;
}
.text-anim span:nth-child(15) {
  transition-delay: 525ms;
}
.text-anim span:nth-child(14) {
  transition-delay: 490ms;
}
.text-anim span:nth-child(13) {
  transition-delay: 455ms;
}
.text-anim span:nth-child(12) {
  transition-delay: 420ms;
}
.text-anim span:nth-child(11) {
  transition-delay: 385ms;
}
.text-anim span:nth-child(10) {
  transition-delay: 350ms;
}
.text-anim span:nth-child(9) {
  transition-delay: 315ms;
}
.text-anim span:nth-child(8) {
  transition-delay: 280ms;
}
.text-anim span:nth-child(7) {
  transition-delay: 245ms;
}
.text-anim span:nth-child(6) {
  transition-delay: 210ms;
}
.text-anim span:nth-child(5) {
  transition-delay: 175ms;
}
.text-anim span:nth-child(4) {
  transition-delay: 140ms;
}
.text-anim span:nth-child(3) {
  transition-delay: 105ms;
}
.text-anim span:nth-child(2) {
  transition-delay: 70ms;
}
.text-anim span:nth-child(1) {
  transition-delay: 35ms;
}

.text-anim.animate span {
  opacity: 1;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}